body {
  background-color: black;
  color: white;
}

.general{

  background-color: rgb(99, 98, 98);
  height: 0px;
  width: auto;
}

.button {
  background-color: #070707;
  color: #fcf9f9;; 
  padding: 10px 20px; /* Esto agrega un poco de espacio alrededor del texto en el botón, puedes ajustarlo según tus necesidades */
  border: none; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; /* Esto hace que el botón se comporte como un bloque en línea */
  font-size: 16px; /* Esto establece el tamaño del texto en el botón, puedes ajustarlo según tus necesidades */
  margin: 4px 2px; /* Esto agrega un poco de espacio exterior alrededor del botón, puedes ajustarlo según tus necesidades */
  cursor: pointer; /* Esto cambia el cursor cuando pasa sobre el botón */
  border-radius: 20px;
  height: 40px;
}

.form-control {
  height: 40px; /* Ajusta la altura según tus necesidades */
  border-radius: 20px;
  background-color: #fff430;
  
}

.nav-enlace {
  color: yellow; /* Color de texto amarillo */
  font-weight: bold; /* Texto más grueso */
  transition: color 0.3s; /* Transición de color para suavizar el cambio */
}

.nav-enlace:hover {
  color: white; /* Cambia a blanco al pasar el ratón */
}

.carouselContainer {
  margin-top: 20px;
  position: relative;
}

.carousel-inner {
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.carousel-item img:hover {
  transform: scale(1.1);
}

.movieDetails {
  background: #000;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center; 
}
.carouselContainer {
  margin-top: 0px;
  background: linear-gradient(to right, #141e30, #00070f);
  padding: 0px;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.movieDetails h1 {
  font-size: 2rem;
}

.movieDetails p {
  font-size: 1.2rem;
}

.button {
  background-color: #000;
  color: #fff;
  border-color: #fff;;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: rgb(6, 76, 104);
}

.blackAndWhiteImg {
  filter: grayscale(100%);
}
.card {
border-radius: 0; 
}



.selectedPoster {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1); /* Aumenta la escala y la sombra para el póster seleccionado */
}

/* Estilo para póster en hover */
.posterHover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Aumenta la escala y la sombra para el póster en hover */
}
.navbar-text {
color: white; 
}
.navbar {
max-width: 1200px; 
margin: 0 auto; 
}

.cintaDeCine {
/* background-image: url('https://media.istockphoto.com/vectors/cinema-tape-a-black-film-strip-isolated-on-white-background-vector-vector-id1209872857?b=1&k=6&m=1209872857&s=170667a&w=0&h=5JMBXQEmBVxF7CcE3jKcgeVRb681zp32668ON59--OU='); */
background-image: url("https://img.freepik.com/vector-gratis/fondo-oscuro-hexagonos-minimos_79603-1455.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 50px; /* Ajusta la altura según tus necesidades */
width: 100%;

}

.custom-form {
  background:  #3f3e3e; /* Puedes ajustar los colores según tus preferencias */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(253, 252, 252, 0.7); /* Sombra para resaltar el formulario */
  width: 75%; 
  height: 100%;
}

.formulario-container {
  background-color: #007bff; /* Cambia el color según tus preferencias */
  padding: 20px; /* Ajusta según sea necesario */
  border-radius: 10px; /* Ajusta según sea necesario */
  width: 70%; /* Ajusta según sea necesario */
  margin: auto;
  border: 2px solid red;
}

.form-label {
  margin-bottom: 5px; /* Ajusta según sea necesario */
}

.form-control {
  margin-bottom: 10px; /* Ajusta según sea necesario */
}